<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add</title>
</head>
<body>
<div class="pt-5">
    <h1>Add record:</h1>
    <form th:action="@{/addRecords/post}" method="post">
        <div class="form-group">
            <label for="deviceID">Device ID</label>
            <input id="deviceID" name="deviceID" type="number">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
